# docker run --rm -it rabbitmq:3-management-alpine sh
HOME=/var/lib/rabbitmq
HOSTNAME=bf4ac5ff9605
LANG=C.UTF-8
LANGUAGE=C.UTF-8
LC_ALL=C.UTF-8
PATH=/opt/rabbitmq/sbin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
PWD=/
RABBITMQ_DATA_DIR=/var/lib/rabbitmq
RABBITMQ_HOME=/opt/rabbitmq
RABBITMQ_PGP_KEY_ID=0x0A9AF2115F4687BD29803A206B73A36E6026DFCA
RABBITMQ_VERSION=3.11.13
SHLVL=1
TERM=xterm

