# docker run --rm -it bitnami/consul:1-debian-11 bash
APP_VERSION=1.15.2
BITNAMI_APP_NAME=consul
BITNAMI_DEBUG=false
BITNAMI_ROOT_DIR=/opt/bitnami
BITNAMI_VOLUME_DIR=/bitnami
CONSUL_AGENT_MODE=server
CONSUL_BASE_DIR=/opt/bitnami/consul
CONSUL_BIND_ADDR=
CONSUL_BIND_INTERFACE=
CONSUL_BIN_DIR=/opt/bitnami/consul/bin
CONSUL_BOOTSTRAP_EXPECT=1
CONSUL_CLIENT_LAN_ADDRESS=0.0.0.0
CONSUL_CONFIG_TEMPLATE_FILE=/opt/bitnami/consul/templates/consul.json.tpl
CONSUL_CONF_DIR=/opt/bitnami/consul/conf
CONSUL_CONF_FILE=/opt/bitnami/consul/conf/consul.json
CONSUL_DAEMON_GROUP=consul
CONSUL_DAEMON_USER=consul
CONSUL_DATACENTER=dc1
CONSUL_DATA_DIR=/bitnami/consul
CONSUL_DISABLE_HOST_NODE_ID=true
CONSUL_DISABLE_KEYRING_FILE=false
CONSUL_DNS_PORT_NUMBER=8600
CONSUL_DOMAIN=consul
CONSUL_ENABLE_UI=true
CONSUL_ENCRYPT_FILE=/opt/bitnami/consul/conf/encrypt.json
CONSUL_ENCRYPT_TEMPLATE_FILE=/opt/bitnami/consul/templates/encrypt.json.tpl
CONSUL_GOSSIP_ENCRYPTION=no
CONSUL_GOSSIP_ENCRYPTION_KEY=
CONSUL_HTTP_PORT_NUMBER=8500
CONSUL_INITSCRIPTS_DIR=/docker-entrypoint-initdb.d
CONSUL_LOCAL_CONFIG=
CONSUL_LOCAL_FILE=/opt/bitnami/consul/conf/local.json
CONSUL_LOCAL_TEMPLATE_FILE=/opt/bitnami/consul/templates/local.json.tpl
CONSUL_LOG_DIR=/opt/bitnami/consul/logs
CONSUL_LOG_FILE=/opt/bitnami/consul/logs/consul.log
CONSUL_NODE_NAME=
CONSUL_PID_FILE=/opt/bitnami/consul/tmp/consul.pid
CONSUL_RAFT_MULTIPLIER=1
CONSUL_RETRY_JOIN_ADDRESS=127.0.0.1
CONSUL_RETRY_JOIN_WAN_ADDRESS=127.0.0.1
CONSUL_RPC_PORT_NUMBER=8300
CONSUL_SERF_LAN_ADDRESS=0.0.0.0
CONSUL_SERF_LAN_PORT_NUMBER=8301
CONSUL_SSL_DIR=/opt/bitnami/consul/certificates
CONSUL_SYSTEM_GROUP=consul
CONSUL_SYSTEM_USER=consul
CONSUL_TEMPLATES_DIR=/opt/bitnami/consul/templates
CONSUL_TMP_DIR=/opt/bitnami/consul/tmp
CONSUL_VOLUME_DIR=/bitnami/consul
HOME=/
HOSTNAME=55a8c5dc0fa5
MODULE=consul
OS_ARCH=amd64
OS_FLAVOUR=debian-11
OS_NAME=linux
PATH=/opt/bitnami/common/bin:/opt/bitnami/common/bin:/opt/bitnami/consul/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
PWD=/
SHLVL=0
TERM=xterm
_=/usr/bin/env

