# docker run --rm -it haproxy:lts-alpine sh
HAPROXY_SHA256=58f9edb26bf3288f4b502658399281cc5d6478468bd178eafe579c8f41895854
HAPROXY_URL=https://www.haproxy.org/download/2.6/src/haproxy-2.6.12.tar.gz
HAPROXY_VERSION=2.6.12
HOME=/var/lib/haproxy
HOSTNAME=29acc71e97c7
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
PWD=/
SHLVL=2
TERM=xterm

